chromadb
faiss-cpu
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
ollama
openai
notion-client
pandas
pydantic
PyPDF2
python-dotenv
requests
selenium
streamlit
tavily-python
tiktoken
torch
transformers
unstructured
selenium
newspaper3k
lxml-html-clean
langchain-ollama
yt_dlp
git+https://github.com/openai/whisper.git
#brew install ffmpeg
soundfile
sounddevice
elevenlabs
langchain_chroma