chromadb
faiss-cpu
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
ollama
openai
pandas
pydantic
PyPDF2
python-dotenv
requests
selenium
streamlit
tavily-python
tiktoken
torch
transformers
unstructured
selenium